<html>
    <head>
        <title>Merhaba</title>
        <link rel="stylesheet" href="/css/site.css" />
        <script src="/js/site.js"></script>
    </head>
    <body>
        <h1 id="header">İlk MVC Uygulamam</h1>
        <p>Hayırlı Olsun :)</p>
    </body>
</html>